<div class="row">
  <div class="col-lg-1 hidden-md"></div>
  <div class="col-lg-10 col-md-12">
    <div class="panel">
      <div class="panel-body">
        <form name="customizeForm" class="customize-form form-horizontal bordered-group" novalidate >
          <div class="bordered-group">
            <div class="form-group va-middle">
              <h2 class="col-lg-12">You have chosen <span ng-bind="selectedStrategy.name"></span></h2>
            </div>
            <div class="form-group va-middle">
              <div class="col-lg-6">You selected the following asset classes:</div>
             <div class="col-lg-6">
              <div class="asset-classes-wrap">
                <div class="col-lg-6" ng-repeat="assetClass in selectedAssetClasses track by assetClass.id">
                  <span class="asset-class bg-primary text-center btn-lg" ng-bind="assetClass.name"></span>
                </div>
              </div>
             </div>
            </div>
            <div class="form-group va-middle">
              <div class="col-lg-6"><label for="investment">How much do you want to invest?</label></div>
              <div class="col-lg-6"><div class="col-lg-12"><input class="form-control input-lg" id="investment" name="investment" type="text" placeholder="$ 00,000" ui-money-mask="0" required ng-model="investment"></div></div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="panel">
      <div class="panel-body">
        <div class="buttons">
          <div class="col-sm-6">
            <a class="btn btn-default" ng-click="goBack()"><i class="fa fa-caret-left mr10"></i> Back</a>
          </div>
          <div class="col-sm-6">
            <div class="text-right">
              <a class="btn btn-success ml20" ng-disabled="!next" ng-click="goNext()">Next <i class="fa fa-caret-right ml10"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-1 hidden-md"></div>
</div>
