<div class="step-nav-container">
  <ul class="nav-steps-list">
    <li class="nav-step" ng-repeat="step in steps" ng-class="{active: current === $index, disabled: stepsEnabled.indexOf($index) < 0}">
      <a class="step-num" ng-click="goStep($index)">
        <span ng-bind="$index+1"></span>
      </a>
      <span class="step-name" ng-bind="step.name"></span>
    </li>
  </ul>

  <div class="progress nav-progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" data-percent="20" ng-style="{ 'width': (100 / (steps.length-1)) * current + '%' }"></div>
  </div>
</div>
